# Your site address
NEXT_PUBLIC_SITE_URL=

# Resend (https://resend.com)
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
CONTACT_TO_EMAIL=enesishala@gmail.com

# Baidu analytics id retrieved here: https://tongji.baidu.com/
NEXT_PUBLIC_BAIDU_TONGJI=
# Google analytics id retrieved here: https://analytics.google.com/
NEXT_PUBLIC_GOOGLE_ID=
